<h1>Halı Sahalar</h1>
<% @astroturves.each do |astroturf|  %>
  <div class="panel panel-success" style="width:300px; float:left; margin:5px;">
    <div class="panel-heading"><b><%= link_to astroturf.name, astroturf_path(astroturf) %><br></b></div>
    <div class="panel-body">
      <b>Şehir : </b><%= astroturf.city %><br>
      <b>Verdiği Hizmetler : </b><%= astroturf.services.collect {|x| x.name }.join(", ") %><br>
    </div>
  </div>
<% end %>
