<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-success" >
      <div class="panel-heading"><b>Yaptığım Rezervasyonlar</b></div>
      <div class="panel-body">
        <table class="table">
          <% @reservations.each do |reservation|  %>
            <tr>
              <td><%= reservation.astroturf.name %></td>
              <td><%= reservation.date %></td>
              <td><%= link_to :Düzenle, astroturf_path(reservation.astroturf) %></td>
              <td><%= link_to :Sil, reservation_path(reservation), method: :delete %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
